{:source-paths ["examples" "src"]
 :deps true
 :builds
 {:pong {:target :browser
         :devtools {:loader-mode :default,
                    :watch-dir "resources/public/"}
         :output-dir "resources/public/example/js"
         :asset-path "/example/js"
         :manifest-name "manifest.edn"
         :modules {:main {:init-fn dev/start-client!}}
         :closure-defines {hyperfiddle.electric-client/ELECTRIC_USER_VERSION "1.0.0"}
         :build-hooks [(hyperfiddle.electric.shadow-cljs.hooks/reload-clj)]
         :compiler-options {:infer-externs :auto
                            :output-feature-set :es8
                            :watch-dir "resources/public/example"}}}}
